[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
slackclient = "*"
slackeventsapi = "*"
nltk = "*"
psycopg2-binary = "*"
django-environ = "*"
django-filter = "*"

[requires]
python_version = "3.6"
